## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [4]:
import os
import numpy as np
import pandas as pd

In [5]:
# 設定 data_path
dir_data = './data/'

In [6]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [13]:
#?app_train
#count = app_train.count()
print("Row# = {}, Column# = {}".format(len(app_train), app_train.columns.size))

Row# = 307511, Column# = 122

#### 列出所有欄位

In [16]:
print(app_train.head(0))

Empty DataFrame
Columns: [SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, ...]
Index: []

[0 rows x 122 columns]

#### 截取部分資料

In [15]:
app_train.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [18]:
app_train.groupby('CNT_CHILDREN').mean()

,SK_ID_CURR,TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
CNT_CHILDREN,,,,,,,,,,,,,,,,,,,,,
0,278241.087440,0.077118,166288.713566,5.991030e+05,26909.255771,539555.789917,0.021079,-17089.259854,88772.652734,-5411.712501,...,0.007684,0.000585,0.000460,0.000339,0.006286,0.007053,0.034631,0.272227,0.269783,1.961813
1,277874.907917,0.089236,175664.465567,5.956403e+05,27458.945737,532641.818488,0.020559,-13680.534973,6403.561560,-4201.878908,...,0.009817,0.000589,0.000753,0.000442,0.007196,0.006709,0.033994,0.264664,0.256456,1.745549
2,278910.119780,0.087218,172580.748737,6.048271e+05,27755.527777,541470.753873,0.020090,-13324.829900,3102.721821,-3614.456991,...,0.008038,0.000710,0.000336,0.000112,0.005767,0.007463,0.033753,0.245728,0.254378,1.774371
3,275570.381759,0.096314,173948.262712,6.078956e+05,28095.100484,544021.034357,0.019492,-13610.779392,6454.693032,-3322.891310,...,0.007533,0.000269,0.000538,0.000000,0.004604,0.004911,0.030387,0.196440,0.248619,1.827502
4,272406.734266,0.128205,170023.426573,6.182227e+05,28474.101399,552409.124122,0.020211,-14000.946387,10514.797203,-3342.878788,...,0.002331,0.002331,0.000000,0.000000,0.008451,0.011268,0.025352,0.278873,0.287324,1.878873
5,263936.702381,0.083333,177780.000000,5.714609e+05,27647.464286,500892.857143,0.020322,-14573.333333,10518.321429,-3467.761905,...,0.011905,0.000000,0.000000,0.000000,0.000000,0.013158,0.026316,0.131579,0.184211,1.815789
6,254632.047619,0.285714,144107.142857,5.237361e+05,24871.928571,444428.571429,0.013420,-15672.238095,32555.333333,-4661.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.187500,2.000000
7,281302.285714,0.000000,136928.571429,4.579444e+05,23312.571429,399214.285714,0.018881,-15038.428571,-1048.142857,-3568.428571,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.333333,0.500000,1.333333
8,196781.000000,0.000000,108000.000000,4.975200e+05,26833.500000,450000.000000,0.018768,-13182.000000,-4897.500000,-4013.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,1.500000
9,274260.500000,1.000000,225000.000000,5.832855e+05,26696.250000,452250.000000,0.010925,-12823.500000,-3026.500000,-2240.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.500000
10,285179.500000,0.000000,67500.000000,1.049085e+05,8930.250000,90000.000000,0.018529,-13255.000000,-1084.500000,-4862.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000
11,140032.000000,1.000000,315000.000000,1.007762e+06,38515.500000,927000.000000,0.010643,-17308.000000,-198.000000,-3940.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,246087.500000,0.000000,281250.000000,4.743900e+05,34609.500000,438750.000000,0.046220,-13993.500000,-2626.000000,-1966.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,1.500000
14,342536.666667,0.000000,108000.000000,8.330700e+05,34980.000000,747000.000000,0.017219,-17841.666667,121004.666667,-8595.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.333333
19,343992.500000,0.000000,112500.000000,2.022750e+05,11340.000000,180000.000000,0.011121,-10677.000000,-1374.500000,-3914.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000